
<% include partials/header %>

<div>
	
	<h3><%= blog.title %> </h3>
	<img src="<%=blog.image%>" >
	<p>
		<%= blog.body %>
	</p>
	<span> <%= blog.created %> </span>

</div>

<% include partials/footer %>